.App {
  text-align: center;
}
body {
  font-family: sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
form{
  margin-bottom: auto;
  margin-top: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
	vertical-align: middle;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}
caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
  margin-bottom: 16px;
}

thead {
	background-color: #333;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

thead th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}